<h2>Products</h2>

<div  class="box" *ngFor="let product of filteredProducts()" style = "margin: 5vw;padding: 5vw;">

  <img style = "position: relative;float: right;max-width: 100px;" src = "{{product.linkImage}}">


  <h3 style = "font-size: 20px;">
    <a [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>

  <h3 style = "color: black;" >
    Price: {{product.price}}$
  </h3>

  

  <h3>
    Rating: {{product.rating}}
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <a target="_blank" style = "position: relative;" href='https://t.me/share/url?url={{product.link}}&text={Share by telegram}'>
    <button>Share on Telegram</button>
  </a>
  <a target="_blank" style = "position: relative;left: 3vw;" href='https://web.whatsapp.com://send?text={{product.link}}&text={Share by Whatsapp}'>
    <button>Share on Whatsapp</button>
  </a>


</div>