.categories{
    position: relative;
    display: inline-flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    width: 13vw;
    height: 20vw;
    left: 2vw;
    box-shadow: 0px 0px 2px 0px;
    border-radius: 10px;
    /* margin-left: 10px;
    padding:10px; */
  }